<div class="col-sm-8 blog-main">

	<h2>
	<%= @blog.title %>
		
	</h2>
	<p class="">
		<%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%> 
	</p>

	 <p>
	 	<%= @blog.title %>
	 </p>
	 <!--Starts of comment forms -->
	 <% unless current_user.is_a? GuestUser %>
	 	<%= form_for @comment , url: '#' do |f|%>
	 		<div class="form-group">
	 			<%= f.label :content%>
	 			<%= f.text_area :content,class: 'form-control'%>
	 		</div>
	 		<%= f.submit 'Post Comment',class: 'btn btn-warning' %>
	 	<% end %>
	 <% end %>
	 <!--End of comment forms -->
	 <!--Starts of comments -->
	 <%= render @blog.comments %>
	 
	 <!--End of comments -->
</div>
